

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
.vs
~$*.*
bin/
obj/
build/
packages/
*.dbmdl
src/ufs/Uploads/
/src/ufs/Scripts/app/.idea
/src/ufs/Properties/PublishProfiles/Ufs.pubxml
/src/ufs_.psess
/src/ufs_151027.etl
/src/ufs_151027.kernel.etl
/src/ufs_151027.vspx
src/ufs/Properties/PublishProfiles/local.pubxml
.idea
node_modules
platforms
plugins
!extra_plugins/cordova-plugin-x-socialsharing/src/android/nl/xservices/plugins

package-lock.json
**/.DS_Store


resources/android/core/\.project

resources/android/core/\.gradle/5\.0/fileHashes/fileHashes\.lock

\.vscode/

*.ts

\.project

extra_plugins/cordova-plugin-firebase/src/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock

extra_plugins/cordova-plugin-firebase/src/android/.gradle/buildOutputCleanup/cache.properties
**.orig
